<h2>Create a Post!</h2>
<form class="newBlog">
   <div>
    <label for="postTitle">Post Title:</label>
    <input type="text" id="postTitle" name="postTitle"/>
   </div> 
   <div>
    <textarea name="textInput" id="textInput" cols="100" rows="10" placeholder="Your post goes here!"></textarea>
   </div>
   <div>
    <button id="subBtn" type="submit">Post!</button>
   </div>
</form>

<script src="/js/addPost.js"></script>