<form>
    <label for="#userName">User Name</label>
    <input id="UserNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="signUpBtn">Sign Up</button>
</form>