<p>If you have already created an account please login in</p>
<h1>Sign Up</h1>
<form>
    <label for="#userName">Username</label>
    <input id="userNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="signUpBtn">Sign Up!</button>
</form>
<script src="../public/login.js"></script>
<p>If you have not already created an account please signup below</p>
<h1>Log In!</h1>
<form>
    <label for="#userName">Username</label>
    <input id="userNameInput">

      <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password">
    <button id="signUpBtn">Log In!</button>
</form>